body{
	margin: 0;
	padding: 0;
}

header{
	background: url('img/header.jpg') no-repeat center;
	width: 100%;
	min-height:100vh;
	-webkit-background-size: cover;
	background-size: cover;
}

.wrap-block{
	width: 100%;
	min-height:100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background: linear-gradient(to top, rgba(0,0,0,.3) 0% , rgba(0,0,0,.0) 100%);
}

form{
	position: absolute;
	right: 3%;
	top: 3%;
	width: 400px;
	padding: 20px;
	background-color: rgba(255,255,255,.6);
	border-radius: 15px;
}

h2{
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 36px;
	color: #FFF;
	text-shadow: 1px 1px 2px black;

}

.form-input{
	outline: none;
	border: 0;
	border-bottom: 1px solid #2ecc71;
	background: none;
	width: 80%;
	margin: 7px;
}

.form-input input{
	font-size: 15px;
	color:#333;
}

.form-input span::before{
	content: attr(alt);
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(50%);
}

input[type=submit]{
	width: 80%;
	margin:5px;
}