*{
  scroll-behavior: smooth; 
} 

#header{
  background: none;
}
 
nav{
  height: 80px;
  z-index: 5;
}

.logo{
  height: 122px;
  width: 250px;
  z-index: 5;
}

.headContacts{
  position: absolute;
  top: 0;
  right: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 80px;
  z-index: 5;
}

.headContacts__regym,
.headContacts__adress,
.headContacts__phone{
  color: azure;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

.headContacts__adress > a{
  text-decoration: none;
  color: azure;
  border-bottom: 2px dashed azure;
}

.headContacts__phone > a{
  color: azure;
  text-decoration: none;
  border-bottom: 2px dashed azure;
  line-height: 28px;
}

.nav__btn--open{
  font-size: 50px;
}

.feedbackForm{
  top: 180px;
  width: 400px;
  z-index: 3;
}

.wrapper{
  width: 95%;
  height: auto;
  margin: 5px auto;
  position: relative;
  top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

table{
  width: 75%;
  margin: 0 auto;
}

.tr__first,
.tr__second{
  font-size: 22px;
}

.tab{
  height: 100px;
  width: 160px;
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 10px;
}

.wrapper .active {
  box-shadow: 0px 0px 5px #3B9CF6;
}

.tab:hover{
  box-shadow: 0px 0px 5px #3B9CF6;
  transition: .5s;
}

#price{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(to top, #565656, #141414);
  background-size: cover;
  padding-bottom: 20px;
}

.parts__form{
  width: 50%;
}

#contacts{
  height: 100vh;
}

.contacts__grid{
  position: relative;
  width: 90%;
  top: 0px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  color: #1660a5;
  font-size: 22px;
  height: 250px;
}

.contacts__table--wrapper{
  height: 250px;
}

.contacts__img{
  width: 45% !important;
  height: 250px;
  cursor: pointer;
}

#contacts iframe{
  width: 700px;
  height: 230px;
}

.team__header,
.price__header,
.parts__header,
.contacts__header{
  font-size: 56px;
}