@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf");
}

@font-face{
  font-family: "Roboto-thin";
  src: url("../fonts/Roboto-Light.ttf");
}

*, *::after, *::before {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
}

header{
  height: 100vh;
  width: 100vw;
  background: url('../src/img/service.jpg') no-repeat center center fixed;
  background-size: cover;
}


.menu{
  width: 100%;
  height: 100px;
  background-color: #222f3e;
}

.logo{
  display: block;
  position: absolute;
  height: 122px;
  width: 320px;
  top: 0;
  left: 0;
  background: url('../src/img/Logo.png') no-repeat;
  background-position: left top;
  background-size: contain;
}

.nav{
  float: right;
  width: calc(100% - 320px);
  height: 100px;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
  font-size: 18px;
  list-style-type: none;
  cursor: pointer;
}

.nav li{
  height: 100%;
  line-height: 100px;
  transition: .4s;
}

.nav a{
  color: #fff;
  text-decoration: none;
}

.nav li:hover{
  height: 115px;
  transform: translateY(-15px);
  transition: all .4s;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.open-menu-btn,
.hide-menu-btn{
  position: absolute;
  transition: .4s;
  cursor: pointer;
  display: none;
}

.open-menu-btn{
  color: azure;
  font-size: 50px;
  right: 15px;
  top: 12px;
}

.hide-menu-btn{
  font-size: 36px;
  color: #fff ;
  right: 30px;
  top: 25px;
}

.hello{
  position: absolute;
  right: 15vw;
  top: 180px;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 0 20px black;
}

.hello__h1, .hello__h3{
  color: azure;
  font-family: "Roboto-thin";
  text-align: center;
}


@media (max-width: 845px){
  .menu{
    height: 80px;
  }
  .logo{
    height: 90px;
  }
  .nav{
    border-top-left-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    position: fixed;
    top: 0;
    width: 70vw;
    height: 100%;
    right:-100%;
    transition: .7s;
    background: url('../src/img/menu.jpg') no-repeat;
    background-size: cover;
    font-size: 24px;
    z-index: 3;
  }

  .nav li{
    height: calc((100% / 5) - 50px);
    padding-left: 10vw;
  }

  .nav li:hover{
    height: calc((100% / 5) - 50px);
    transform: none;
  }
  
  #chk:checked ~ .nav{
    right: 0;
    transition: .7s;
  }

  .open-menu-btn, .hide-menu-btn{
    display: block;
  }

  .hello{
    top: 22vh;
    width: 70vw;
  }
}