*, *::after, *::before {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
}

header{
  height: 100vh;
  width: 100vw;
  background: url('../src/img/service.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

nav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #141414;
  /* box-shadow: inset 15px 0 20px black; */
}

.logo{
  display: block;
  position: absolute;
  height: 90px;
  width: 320px;
  top: 0;
  left: 0;
  background: url('../src/img/Logo.png') no-repeat;
  background-position: left top;
  background-size: contain;
  z-index: 2;
}

.nav__insideList{
  box-sizing: content-box;
  padding: 40px 15px 45px 15px;
  /* border-top-left-radius: 25px; */
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  position: fixed;
  top: 0;
  right:-100%;
  width: 65vw;
  height: 100%;
  transition: .7s;
  background: url('../src/img/menu.jpg') no-repeat;
  background-size: cover;
  font-size: 24px;
  font-family: "Roboto";
  list-style-type: none;
  cursor: pointer;
  z-index: 3;
}

.nav__insideList a{
  height: calc((100% - 85px) / 5);
  padding-left: 10vw;
  line-height: 100px;
  display: block;
  color: #fff;
  text-decoration: none;
}

#nav__toggle{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.nav__btn--open,
.nav__btn--hide{
  position: absolute;
  transition: .4s;
  cursor: pointer;
  display: block;
}

.nav__btn--open{
  color: azure;
  font-size: 50px;
  right: 15px;
  top: 12px;
}

.nav__btn--hide{
  font-size: 36px;
  color: #fff ;
  right: 30px;
  top: 25px;
}

/* .nav__btn--hide:active{
  border: 3px solid #3498db;
} */

#nav__toggle:checked ~ .nav__insideList{
  right: 0;
  transition: .7s;
}

.feedbackForm{
  position: absolute;
  top: 22vh;
  right: 15vw;
  width: 70vw;
  height: 400px;
  color: azure;
  font-family: "Roboto-thin";
  font-size: 22px;
}

.feedbackForm__h1, .feedbackForm__h3{
  color: azure;
  font-family: "Roboto-thin";
  text-align: center;
  margin-bottom: 15px;
}

.feedbackForm__input{
  font-size: 18px;
}

.feedbackForm__submit{
  display: block;
}